*{
			margin: 0px; padding: 0px;
			box-sizing: border-box;
		}
body{
	font-size: 16px;
}
#container{
	width: 1000px;
	margin: 0 auto;
	/*background-color: pink;*/
}
#container>.Wrap>div{
	width: 30%;
	float: left;
	/*margin-right: 5%;*/
}
#container>.Wrap>div table{
	font-size: 13px;
}
#container>.wrap>div:nth-child(2){
		margin-left: 2%;
		margin-right: 2%;


}


#container>.Wrap>div.box1{
	/*background-color: green;*/
}
#container>.Wrap>div.box2{
	/*background-color: orange;*/
}
#container>.Wrap>div.box3{
	/*background-color: skyblue;*/
}
#container>.Wrap>div.box1 .pic{
	width: 200px; height: 200px;
	border: 2px solid #333;
	border-radius: 50%;
	margin: 30px auto;
	overflow: hidden;

	/*text-align: center;*/
}
#container>.Wrap>div.box1 img{
	
	width: 100%;
}
#container.Wrap>div.box1 Strong{
	font-size: 26px;
}
#container.Wrap>div.box1 hr{
	width: 30px;
	border-color: #222;
	margin: 20px 5px;
}

#container>.Wrap>div h1{
	color: limegreen;
	margin: 10px;

}
#container.Wrap>div.box2 div>div,#container>.Wrap>div.box3div>div{
	padding-bottom: 20px;
	border-bottom: 1px dotted #333;
	margin: 10px;
}
